version: 2

updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    open-pull-requests-limit: 10
    schedule:
      interval: 'cron'
      cronjob: '0 10 * * 3' # At 10:00 on Wednesday
    ignore:
      - dependency-name: '*'
        update-types: ['version-update:semver-major']
