.hp-badge {
    @apply bg-primary/5 border-primary/32 flex w-fit items-center justify-center gap-2 rounded-full border px-4 py-2 text-xs font-medium sm:text-sm;
}

.hp-badge:hover {
    @apply bg-primary/32;
}
