.hp-heading {
    @apply font-semibold tracking-tight;
    @apply break-words;
}

.hp-heading-size-xs {
    @apply text-base sm:text-lg md:text-lg lg:text-xl xl:text-xl;
}

.hp-heading-size-sm {
    @apply text-base sm:text-lg md:text-xl lg:text-2xl xl:text-2xl;
}

.hp-heading-size-md {
    @apply text-lg sm:text-xl md:text-2xl lg:text-3xl xl:text-3xl;
}

.hp-heading-size-lg {
    @apply text-xl sm:text-2xl md:text-2xl lg:text-3xl xl:text-4xl;
}

.hp-heading-size-xl {
    @apply text-xl sm:text-3xl md:text-2xl lg:text-3xl xl:text-4xl;
}

.hp-heading-size-2xl {
    @apply text-2xl sm:text-3xl md:text-3xl lg:text-4xl xl:text-4xl;
}

.hp-heading-size-3xl {
    @apply text-2xl sm:text-3xl md:text-4xl lg:text-4xl xl:text-5xl;
}

.hp-heading-size-4xl {
    @apply text-2xl sm:text-4xl md:text-3xl lg:text-4xl xl:text-5xl;
}
