@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/satoshi/Satoshi-Light.woff2') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/satoshi/Satoshi-Regular.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/satoshi/Satoshi-Medium.woff2') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url('../../fonts/satoshi/Satoshi-Bold.woff2') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Fira-Code;
    font-display: swap;
    src: url('../../fonts/fira-code/FiraCode-Regular.ttf') format('truetype');
}
