@import './fonts.css';
@import './themes.css';

@theme inline {
    --breakpoint-sm: 821px;
    --font-family-primary: Satoshi, sans-serif;
    --font-family-secondary: Cal-Sans, sans-serif;
    --font-family-code: Fira-Code, monospace;

    /* Opacity */
    --opacity-semiopaque: 0.8;
    --opacity-intense: 0.64;
    --opacity-medium: 0.32;
    --opacity-light: 0.16;
    --opacity-semitransparent: 0.8;

    /* Border Radius */
    --border-radius-none: 0px;
    --border-radius-xs: 4px;
    --border-radius-sm: 8px;
    --border-radius-md: 16px;
    --border-radius-lg: 24px;
    --border-radius-pill: 999px;

    /* Border Width */
    --border-width-none: 0px;
    --border-width-hairline: 1px;
    --border-width-thin: 2px;
    --border-width-thick: 4px;
    --border-width-heavy: 8px;

    /* Drop Shadow */
    --drop-shadow-level-1: 0 4px 8px rgba(0, 0, 0, 0.16);
    --drop-shadow-level-2: 0 8px 24px rgba(0, 0, 0, 0.16);
    --drop-shadow-level-3: 0 16px 32px rgba(0, 0, 0, 0.16);
    --drop-shadow-level-4: 0 16px 48px rgba(0, 0, 0, 0.16);

    --font-size-xxxs: 0.75rem;
    --font-size-xxs: 0.875rem;
    --font-size-xs: 1rem;
    --font-size-sm: 1.25rem;
    --font-size-md: 1.5rem;
    --font-size-lg: 2rem;
    --font-size-xl: 2.5rem;
    --font-size-xxl: 2.75rem;
    --font-size-xxxl: 3rem;
    --font-size-xxxxl: 4rem;
    --font-size-display: 5rem;
    --font-size-giant: 6rem;

    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --line-height-default: 100%;
    --line-height-xs: 150%;

    --radius: 0.625rem;
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --color-helper-success: var(--helper-success);
    --color-helper-warning: var(--helper-warning);
    --color-helper-error: var(--helper-error);
    --color-helper-info: var(--helper-info);

    --color-text-high: var(--text-high);
    --color-text-medium: var(--text-medium);
    --color-text-low: var(--text-low);
    --color-text-dark: var(--text-dark);
    --color-text-light: var(--text-light);

    --color-icon-high: var(--icon-high);
    --color-icon-medium: var(--icon-medium);
    --color-icon-low: var(--icon-low);
    --color-icon-dark: var(--icon-dark);
    --color-icon-light: var(--icon-light);

    --color-outline-high: var(--outline-high);
    --color-outline-medium: var(--outline-medium);
    --color-outline-low: var(--outline-low);
    --color-outline-dark: var(--outline-dark);
    --color-outline-light: var(--outline-light);

    --color-elevation-surface: var(--elevation-surface);
    --color-elevation-01dp: var(--elevation-01dp);
    --color-elevation-02dp: var(--elevation-02dp);
    --color-elevation-03dp: var(--elevation-03dp);
    --color-elevation-04dp: var(--elevation-04dp);
    --color-elevation-05dp: var(--elevation-05dp);

    --color-primary: var(--primary);
    --color-secondary: var(--secondary);
    --color-red-primary: var(--red-primary);
    --color-red-900: var(--red-900);
    --color-red-800: var(--red-800);
    --color-red-700: var(--red-700);
    --color-red-600: var(--red-600);
    --color-red-500: var(--red-500);
    --color-red-400: var(--red-400);
    --color-red-300: var(--red-300);
    --color-red-200: var(--red-200);
    --color-red-100: var(--red-100);
    --color-red-50: var(--red-50);
    --color-yellow-primary: var(--yellow-primary);
    --color-yellow-900: var(--yellow-900);
    --color-yellow-800: var(--yellow-800);
    --color-yellow-700: var(--yellow-700);
    --color-yellow-600: var(--yellow-600);
    --color-yellow-500: var(--yellow-500);
    --color-yellow-400: var(--yellow-400);
    --color-yellow-300: var(--yellow-300);
    --color-yellow-200: var(--yellow-200);
    --color-yellow-100: var(--yellow-100);
    --color-yellow-50: var(--yellow-50);
    --color-green-primary: var(--green-primary);
    --color-green-900: var(--green-900);
    --color-green-800: var(--green-800);
    --color-green-700: var(--green-700);
    --color-green-600: var(--green-600);
    --color-green-500: var(--green-500);
    --color-green-400: var(--green-400);
    --color-green-300: var(--green-300);
    --color-green-200: var(--green-200);
    --color-green-100: var(--green-100);
    --color-green-50: var(--green-50);
    --color-orange-primary: var(--orange-primary);
    --color-orange-900: var(--orange-900);
    --color-orange-800: var(--orange-800);
    --color-orange-700: var(--orange-700);
    --color-orange-600: var(--orange-600);
    --color-orange-500: var(--orange-500);
    --color-orange-400: var(--orange-400);
    --color-orange-300: var(--orange-300);
    --color-orange-200: var(--orange-200);
    --color-orange-100: var(--orange-100);
    --color-orange-50: var(--orange-50);
    --color-lime-primary: var(--lime-primary);
    --color-lime-900: var(--lime-900);
    --color-lime-800: var(--lime-800);
    --color-lime-700: var(--lime-700);
    --color-lime-600: var(--lime-600);
    --color-lime-500: var(--lime-500);
    --color-lime-400: var(--lime-400);
    --color-lime-300: var(--lime-300);
    --color-lime-200: var(--lime-200);
    --color-lime-100: var(--lime-100);
    --color-lime-50: var(--lime-50);
    --color-esmerald-primary: var(--esmerald-primary);
    --color-esmerald-900: var(--esmerald-900);
    --color-esmerald-800: var(--esmerald-800);
    --color-esmerald-700: var(--esmerald-700);
    --color-esmerald-600: var(--esmerald-600);
    --color-esmerald-500: var(--esmerald-500);
    --color-esmerald-400: var(--esmerald-400);
    --color-esmerald-300: var(--esmerald-300);
    --color-esmerald-200: var(--esmerald-200);
    --color-esmerald-100: var(--esmerald-100);
    --color-esmerald-50: var(--esmerald-50);
    --color-cyan-primary: var(--cyan-primary);
    --color-cyan-900: var(--cyan-900);
    --color-cyan-800: var(--cyan-800);
    --color-cyan-700: var(--cyan-700);
    --color-cyan-600: var(--cyan-600);
    --color-cyan-500: var(--cyan-500);
    --color-cyan-400: var(--cyan-400);
    --color-cyan-300: var(--cyan-300);
    --color-cyan-200: var(--cyan-200);
    --color-cyan-100: var(--cyan-100);
    --color-cyan-50: var(--cyan-50);
    --color-indigo-primary: var(--indigo-primary);
    --color-indigo-900: var(--indigo-900);
    --color-indigo-800: var(--indigo-800);
    --color-indigo-700: var(--indigo-700);
    --color-indigo-600: var(--indigo-600);
    --color-indigo-500: var(--indigo-500);
    --color-indigo-400: var(--indigo-400);
    --color-indigo-300: var(--indigo-300);
    --color-indigo-200: var(--indigo-200);
    --color-indigo-100: var(--indigo-100);
    --color-indigo-50: var(--indigo-50);
    --color-purple-primary: var(--purple-primary);
    --color-purple-900: var(--purple-900);
    --color-purple-800: var(--purple-800);
    --color-purple-700: var(--purple-700);
    --color-purple-600: var(--purple-600);
    --color-purple-500: var(--purple-500);
    --color-purple-400: var(--purple-400);
    --color-purple-300: var(--purple-300);
    --color-purple-200: var(--purple-200);
    --color-purple-100: var(--purple-100);
    --color-purple-50: var(--purple-50);
    --color-pink-primary: var(--pink-primary);
    --color-pink-900: var(--pink-900);
    --color-pink-800: var(--pink-800);
    --color-pink-700: var(--pink-700);
    --color-pink-600: var(--pink-600);
    --color-pink-500: var(--pink-500);
    --color-pink-400: var(--pink-400);
    --color-pink-300: var(--pink-300);
    --color-pink-200: var(--pink-200);
    --color-pink-100: var(--pink-100);
    --color-pink-50: var(--pink-50);
    --color-rose-primary: var(--rose-primary);
    --color-rose-900: var(--rose-900);
    --color-rose-800: var(--rose-800);
    --color-rose-700: var(--rose-700);
    --color-rose-600: var(--rose-600);
    --color-rose-500: var(--rose-500);
    --color-rose-400: var(--rose-400);
    --color-rose-300: var(--rose-300);
    --color-rose-200: var(--rose-200);
    --color-rose-100: var(--rose-100);
    --color-rose-50: var(--rose-50);
    --color-gray-primary: var(--gray-primary);
    --color-gray-900: var(--gray-900);
    --color-gray-800: var(--gray-800);
    --color-gray-700: var(--gray-700);
    --color-gray-600: var(--gray-600);
    --color-gray-500: var(--gray-500);
    --color-gray-400: var(--gray-400);
    --color-gray-300: var(--gray-300);
    --color-gray-200: var(--gray-200);
    --color-gray-100: var(--gray-100);
    --color-gray-50: var(--gray-50);
}
