:root {
    --primary: #782bf1;
    --secondary: #9828bd;
    --red-primary: #ff3838;
    --red-900: #870000;
    --red-800: #a6000a;
    --red-700: #c40017;
    --red-600: #e11827;
    --red-500: #fc3a38;
    --red-400: #ff564c;
    --red-300: #ff7263;
    --red-200: #ff8d7b;
    --red-100: #ffaa95;
    --red-50: #ffc7b1;
    --yellow-100: #ffd861;
    --yellow-200: #ecc240;
    --yellow-300: #d4ac1a;
    --yellow-400: #bd9700;
    --yellow-50: #ffef84;
    --yellow-500: #a58200;
    --yellow-600: #8e6e00;
    --yellow-700: #775b00;
    --yellow-800: #614800;
    --yellow-900: #4d3600;
    --yellow-primary: #ffd138;
    --green-primary: #12e419;
    --green-900: #004900;
    --green-800: #005f00;
    --green-700: #007500;
    --green-600: #008b00;
    --green-500: #00a100;
    --green-400: #00b700;
    --green-300: #00cd0f;
    --green-200: #4ae33c;
    --green-100: #74f960;
    --green-50: #9aff83;
    --orange-100: #ffce92;
    --orange-200: #fdc076;
    --orange-300: #ffb450;
    --orange-400: #e09f45;
    --orange-50: #ffe2bf;
    --orange-500: #c18b3b;
    --orange-600: #a27630;
    --orange-700: #856226;
    --orange-800: #684e1d;
    --orange-900: #4d3a14;
    --orange-primary: #ffb450;
    --lime-100: #dee293;
    --lime-200: #c7cc78;
    --lime-300: #b0b65f;
    --lime-400: #99a148;
    --lime-50: #f5f8b0;
    --lime-500: #919a38;
    --lime-600: #858e32;
    --lime-700: #6a771d;
    --lime-800: #56680c;
    --lime-900: #465802;
    --lime-primary: #559700;
    --esmerald-primary: #12e4a8;
    --esmerald-900: #004724;
    --esmerald-800: #005c32;
    --esmerald-700: #007243;
    --esmerald-600: #008755;
    --esmerald-500: #009d68;
    --esmerald-400: #00b37d;
    --esmerald-300: #00c993;
    --esmerald-200: #43dfaa;
    --esmerald-100: #6df4c1;
    --esmerald-50: #93ffda;
    --cyan-primary: #12e4d9;
    --cyan-900: #004642;
    --cyan-800: #005b55;
    --cyan-700: #007069;
    --cyan-600: #00857d;
    --cyan-500: #009a92;
    --cyan-400: #00b0a7;
    --cyan-300: #00c6bc;
    --cyan-200: #41dbd2;
    --cyan-100: #6df1e8;
    --cyan-50: #94fffe;
    --blue-100: #19c3cc;
    --blue-200: #0ab2c4;
    --blue-300: #048ba8;
    --blue-400: #057693;
    --blue-50: #2edbdb;
    --blue-500: #06627d;
    --blue-600: #054e66;
    --blue-700: #043b50;
    --blue-800: #03293a;
    --blue-900: #021b28;
    --blue-primary: #048ba8;
    --indigo-primary: #4f39f6;
    --indigo-900: #221bab;
    --indigo-800: #3a2acf;
    --indigo-700: #543cee;
    --indigo-600: #6e4fff;
    --indigo-500: #8863ff;
    --indigo-400: #a378ff;
    --indigo-300: #bc8fff;
    --indigo-200: #d6a7ff;
    --indigo-100: #efbfff;
    --indigo-50: #ffd9ff;
    --purple-primary: #9e39f6;
    --purple-900: #54009a;
    --purple-800: #6c0eba;
    --purple-700: #8525d8;
    --purple-600: #9d3bf3;
    --purple-500: #b552ff;
    --purple-400: #cd6aff;
    --purple-300: #e482ff;
    --purple-200: #fa9cff;
    --purple-100: #ffb6ff;
    --purple-50: #ffd9ff;
    --pink-100: #fce6f2;
    --pink-200: #f9d6ea;
    --pink-300: #f3c3e0;
    --pink-400: #eaabd0;
    --pink-50: #fff4fa;
    --pink-500: #e093be;
    --pink-600: #d67caf;
    --pink-700: #c9639a;
    --pink-800: #b74880;
    --pink-900: #a53869;
    --pink-primary: #d5528d;
    --rose-primary: #f63985;
    --rose-900: #830038;
    --rose-800: #a2004a;
    --rose-700: #bf005c;
    --rose-600: #da1a70;
    --rose-500: #f33b84;
    --rose-400: #ff5799;
    --rose-300: #ff73ae;
    --rose-200: #ff8fc4;
    --rose-100: #ffabda;
    --rose-50: #ffc8f1;
    --gray-primary: #ddddde;
    --gray-900: #39393a;
    --gray-800: #4b4b4c;
    --gray-700: #5e5e5f;
    --gray-600: #727273;
    --gray-500: #868687;
    --gray-400: #9b9b9c;
    --gray-300: #b0b0b1;
    --gray-200: #c6c6c7;
    --gray-100: #dddddd;
    --gray-50: #f3f3f4;
    --text-high: #09090a;
    --text-medium: #4f4f4f;
    --text-low: #707070;
    --text-light: #fdfdfd;
    --text-dark: #09090a;
    --icon-high: #09090a;
    --icon-medium: #868687;
    --icon-low: #b9b9be;
    --icon-light: #f5f5ff;
    --icon-dark: #09090a;
    --outline-high: #585861;
    --outline-medium: #70707a;
    --outline-low: #909098;
    --outline-light: #e8e9f1;
    --outline-dark: #2c2c2d;
    --helper-success: var(--green-800);
    --helper-warning: var(--yellow-800);
    --helper-error: var(--red-800);
    --helper-info: var(--blue-800);
    --elevation-surface: #fbfbff;
    --elevation-01dp: #f7f8fc;
    --elevation-02dp: #f2f4fa;
    --elevation-03dp: #edeff7;
    --elevation-04dp: #e8ebf5;
    --elevation-05dp: #e2e6f2;
}

.dark {
    --text-high: #fdfdfd;
    --text-medium: #9c9c9c;
    --text-low: #7a7a7b;
    --text-light: #fdfdfd;
    --text-dark: #09090a;
    --icon-high: #fdfdfd;
    --icon-medium: #9c9c9c;
    --icon-low: #7a7a7b;
    --icon-light: #fdfdfd;
    --icon-dark: #09090a;
    --outline-high: #99999f;
    --outline-medium: #7c7c83;
    --outline-low: #2c2c2d;
    --outline-light: #e8e9f1;
    --outline-dark: #2c2c2d;
    --elevation-surface: #09090a;
    --elevation-01dp: #0f0f10;
    --elevation-02dp: #131314;
    --elevation-03dp: #151516;
    --elevation-04dp: #181819;
    --elevation-05dp: #1c1c1f;
}
