@import '../../../../vendor/filament/filament/resources/css/theme.css';

@source '../../../../app/Filament/Admin/**/*';
@source '../../../../resources/views/**/*';
@source '../../../../app-modules/*/resources/**/*';

:root {
    --gray-50: oklch(0.989 0.005 286.303) !important;
    --gray-100: oklch(50.98 0.005 274.967) !important;
    --gray-200: oklch(0.9673 0.0083 271.33) !important;
    --gray-300: oklch(0.88 0.01 273.342) !important;
    --gray-400: oklch(0.805 0.009 271.307) !important;
    --gray-500: oklch(0.728 0.008 268.525) !important;
    --gray-600: oklch(0.57 0.006 274.9) !important;
    --gray-700: oklch(0.486 0.005 271.313) !important;
    --gray-800: oklch(0.399 0.005 286.172) !important;
    --gray-900: oklch(0.306 0.004 286.188) !important;
    --gray-950: oklch(0.205 0.002 286.226) !important;
}

:root.dark {
    --gray-50: oklch(0.928 0 89.876) !important;
    --gray-100: oklch(0.858 0 89.876) !important;
    --gray-200: oklch(0.783 0.001 286.368) !important;
    --gray-300: oklch(0.709 0 89.876) !important;
    --gray-400: oklch(0.633 0 89.876) !important;
    --gray-500: oklch(0.552 0.002 286.35) !important;
    --gray-600: oklch(0.471 0 89.876) !important;
    --gray-700: oklch(0.383 0.002 286.321) !important;
    --gray-800: oklch(0.187 0.002 286.205) !important;
    --gray-900: oklch(0.169 0.002 286.177) !important;
    --gray-950: oklch(0.14 0.002 286.109) !important;
}
