name: Phpstan

on:
  workflow_call:
    inputs:
      PHP_VERSION:
        required: true
        type: string
      PHP_EXTENSIONS:
        required: true
        type: string
      PHP_INI_PROPERTIES:
        required: true
        type: string
      COMPOSER_FLAGS:
        required: true
        type: string
      CACHE_KEY:
        required: true
        type: string

jobs:
  run:
    name: Run
    runs-on: ubuntu-latest
    if: ${{ !github.event.pull_request.draft }}
    timeout-minutes: 5
    concurrency:
      group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}-phpstan
      cancel-in-progress: true
    steps:
      - name: Checkout code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Setup PHP
        uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2.36.0
        with:
          php-version: ${{ inputs.PHP_VERSION }}
          extensions: ${{ inputs.PHP_EXTENSIONS }}
          ini-values: ${{ inputs.PHP_INI_PROPERTIES }}
          coverage: xdebug
          tools: composer:v2

      - name: Install composer dependencies
        uses: ramsey/composer-install@3cf229dc2919194e9e36783941438d17239e8520 # v3.1.1
        with:
          composer-options: ${{ inputs.COMPOSER_FLAGS }}
          custom-cache-key: ${{ inputs.CACHE_KEY }}

      - name: Perform ide-helper
        run: |
          composer run ide-helper

      - name: Run Phpstan
        run: |
          vendor/bin/phpstan analyse --ansi --error-format=github
