name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    name: Setup PHP
    runs-on: ubuntu-latest
    timeout-minutes: 5
    env:
      php-version: '8.4'
      php-extensions: 'mbstring,pdo,xml,ctype,fileinfo,json,curl,openssl,dom,zip'
      php-extensions-key: 'extcache-2025'
      php-ini-properties: 'post_max_size=256M,upload_max_filesize=256M'
      php-composer-flags: '--prefer-dist --optimize-autoloader'
    outputs:
      php-version: ${{ env.php-version }}
      php-extensions: ${{ env.php-extensions }}
      php-extensions-key: ${{ env.php-extensions-key }}
      php-ini-properties: ${{ env.php-ini-properties }}
      php-composer-flags: ${{ env.php-composer-flags }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Common Values
        id: common-values
        run: |
          echo "os-lower=$(echo ${{ runner.os }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"
          echo "arch-lower=$(echo ${{ runner.arch }} | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

      - name: Setup cache environment
        id: cache-ext
        uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c #1.13.0
        with:
          php-version: ${{ env.php-version }}
          extensions: ${{ env.php-extensions }}
          key: ${{ env.php-extensions-key }}

      - name: Cache extensions
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #4.3.0
        with:
          path: ${{ steps.cache-ext.outputs.dir }}
          key: ${{ steps.common-values.outputs.os-lower }}-phpext-${{ env.php-version }}-${{ env.php-extensions-key }}
          restore-keys: ${{ steps.common-values.outputs.os-lower }}-phpext-${{ env.php-version }}

      - uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f #2.35.5
        with:
          php-version: ${{ env.php-version }}
          coverage: none
          extensions: ${{ env.php-extensions }}

      - name: Cache dependencies
        id: cache-composer
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #4.3.0
        with:
          path: vendor
          key: ${{ steps.common-values.outputs.os-lower }}-composer-${{ hashFiles('composer.lock') }}

      - name: Install Dependencies
        if: ${{ steps.cache-composer.outputs.cache-hit != 'true' }}
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader
        shell: bash

  pint:
    if: false # TODO: refactor cache keys and re-enable
    name: Perform Pint format
    needs:
      - setup
    uses: ./.github/workflows/_pint.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}

  rector:
    if: false # TODO: refactor cache keys and re-enable
    name: Perform Rector Check
    needs:
      - setup
    uses: ./.github/workflows/_rector.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}

  phpstan:
    if: false # TODO: refactor cache keys and re-enable
    name: Perform Phpstan Check
    needs:
      - setup
    uses: ./.github/workflows/_phpstan.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}

  pest:
    if: false # TODO: refactor cache keys and re-enable
    name: Perform Pest Tests
    needs:
      - setup
    uses: ./.github/workflows/_pest.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}
