name: Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  setup:
    if: false # TODO: refactor cache keys and re-enable
    name: Setup PHP
    runs-on: ubuntu-latest
    timeout-minutes: 5
    outputs:
      CACHE_KEY: ${{ steps.cache.outputs.key }}
      PHP_VERSION: ${{ steps.setup.outputs.PHP_VERSION }}
      PHP_EXTENSIONS: ${{ steps.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ steps.setup.outputs.PHP_INI_PROPERTIES }}
      COMPOSER_FLAGS: ${{ steps.setup.outputs.COMPOSER_FLAGS }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup job outputs
        id: setup
        run: |
          echo "PHP_VERSION=8.4" >> "$GITHUB_OUTPUT"
          echo "PHP_EXTENSIONS=mbstring,pdo,xml,ctype,fileinfo,json,curl,openssl,dom,zip" >> "$GITHUB_OUTPUT"
          echo "PHP_INI_PROPERTIES=post_max_size=256M,upload_max_filesize=256M" >> "$GITHUB_OUTPUT"
          echo "COMPOSER_FLAGS=--prefer-dist --optimize-autoloader" >> "$GITHUB_OUTPUT"
          echo "EXTENSIONS_KEY=ext-cache" >> "$GITHUB_OUTPUT"

      - name: Create cache key
        id: cache
        run: |
          composer_hash=${{ hashFiles('**/composer.lock') }}
          os_lower=$(echo ${{ runner.os }} | tr '[:upper:]' '[:lower:]')
          arch_lower=$(echo ${{ runner.arch }} | tr '[:upper:]' '[:lower:]')
          combined_key="${os_lower}-${arch_lower}-composer-${composer_hash}"
          echo "key=${combined_key}" >> "$GITHUB_OUTPUT"

      - name: Setup cache environment
        id: extcache
        uses: shivammathur/cache-extensions@4595bea7d6630821b0a3a4894f816402faaf324c #1.13.0
        with:
          php-version: ${{ steps.setup.outputs.PHP_VERSION }}
          extensions: ${{ steps.setup.outputs.PHP_EXTENSIONS }}
          key: ${{ steps.setup.outputs.EXTENSIONS_KEY }}

      - name: Cache extensions
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #4.3.0
        with:
          path: ${{ steps.extcache.outputs.dir }}
          key: ${{ runner.os }}-phpext-${{ steps.setup.outputs.PHP_VERSION }}-${{ steps.setup.outputs.EXTENSIONS_KEY }}
          restore-keys: ${{ runner.os }}-phpext-${{ steps.setup.outputs.PHP_VERSION }}

      - name: Setup PHP
        uses: shivammathur/setup-php@bf6b4fbd49ca58e4608c9c89fba0b8d90bd2a39f # v2.35.5
        with:
          php-version: ${{ steps.setup.outputs.PHP_VERSION }}
          coverage: none
          extensions: ${{ steps.setup.outputs.PHP_EXTENSIONS }}

      - name: Cache dependencies
        id: cache-composer
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 #4.3.0
        with:
          path: vendor
          key: ${{ runner.os }}-composer-${{ hashFiles('composer.lock') }}

      - if: ${{ steps.cache-composer.outputs.cache-hit != 'true' }}
        name: Install Dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist --optimize-autoloader
        shell: bash

  pint:
    name: Perform Pint format
    needs:
      - setup
    uses: ./.github/workflows/_pint.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}

  rector:
    name: Perform Rector Check
    needs:
      - setup
    uses: ./.github/workflows/_rector.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}

  phpstan:
    name: Perform Phpstan Check
    needs:
      - setup
    uses: ./.github/workflows/_phpstan.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}

  pest:
    name: Perform Pest Tests
    needs:
      - setup
    uses: ./.github/workflows/_pest.yml
    with:
      CACHE_KEY: ${{ needs.setup.outputs.CACHE_KEY }}
      COMPOSER_FLAGS: ${{ needs.setup.outputs.COMPOSER_FLAGS }}
      PHP_EXTENSIONS: ${{ needs.setup.outputs.PHP_EXTENSIONS }}
      PHP_INI_PROPERTIES: ${{ needs.setup.outputs.PHP_INI_PROPERTIES }}
      PHP_VERSION: ${{ needs.setup.outputs.PHP_VERSION }}
